@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --cor--primaria: #ffffff;
    --cor--secundaria: #000000;
    --cor--terciaria: #6E6E73;
    --cor--quartenaria: #1D1D1F;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 20px 0px 20px;
    background-color: var(--cor--primaria);
    box-shadow: 0 0 6px 0 var(--cor--secundaria);
}

nav {
    display: flex;
    gap: 70px;
}

.menu__nav {
    padding: 0 5px 0 5px;
    border-radius: 20px;
    background-color: var(--cor--primaria);
    text-decoration: none;
    color: var(--cor--secundaria);
}

.menu__nav:hover {
    background-color: var(--cor--secundaria);
    color: var(--cor--primaria);
}

.itens__cabecalho {
    display: flex;
    gap: 24px;
}

.barra__de__pesquisa {
    display: flex;
    align-items: center;
    padding: 0 0.5px 0 0.5px;
    width: 175px;
    height: 40px;
    border-radius: 25px;
    box-shadow: 0 0 6px 0 var(--cor--secundaria);
}

input {
    width: 125px;
    height: 30px;
    border: 0;
    outline: 0 none;
}

main {
    padding: 100px 20px 100px 20px;
}

h1 {
    padding: 0 0 100px 0;
}

.conjunto__de__carrosel {
    display: flex;
    justify-content: flex-end;
    padding: 5px 0 125px 0;
    gap: 1.25rem;
}

.carrosel__preto {
    width: 400px;
    height: 500px;
    border-radius: 20px;
    background-color: var(--cor--secundaria);
    box-shadow: 0 0 6px 0 var(--cor--secundaria);
}

.carrosel__branco {
    width: 400px;
    height: 500px;
    border-radius: 20px;
    background-color: var(--cor--primaria);
    box-shadow: 0 0 6px 0 var(--cor--secundaria);
}

.carrosel__preto:hover {
    box-sizing: border-box;
    border: 2px solid var(--cor--terciaria);
}

.carrosel__branco:hover {
    box-sizing: border-box;
    border: 2px solid var(--cor--terciaria);
}

.grupo__carrosel__titulo {
    display: flex;
    flex-direction: column;
    align-items: last baseline;
}

footer {
    display: flex;
    justify-content: space-around;
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    padding: 100px 20px 300px 20px;
    background-color: var(--cor--quartenaria);
    color: var(--cor--terciaria);
}

.redes {
    display: flex;
    gap: 20px;
    padding: 20px 0 0 0;
}